ursa/proprietary/vendor/etc/camera/FACEAUTH_09B12845-60E2-4D97-9987-C3457610E8EC.lic
ursa/proprietary/vendor/etc/camera/M_Liveness_Antispoofing_3D_Mi_4.6.0.model
ursa/proprietary/vendor/etc/camera/M_Verify_MimicG2Pruned_Common_3.70.0.model
beryllium/proprietary/vendor/lib/libstfaceunlockoclqcom.so
